{% extends 'cpanel/base.html' %}
{% load static %}
{% load cpanel_custom_tags %}

{% block content %}
    <div class="d-flex flex-column flex-root app-root" id="kt_app_root">
        <!--begin::Page-->
        <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
            <!--begin::Header-->
            {% include 'cpanel/extra/header.html' %}
            <!--end::Header-->
            <!--begin::Wrapper-->
            <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
                <!--begin::Toolbar-->
                <div id="kt_app_toolbar" class="app-toolbar pt-4 pt-lg-7 mb-n2 mb-lg-n3">
                    <!--begin::Toolbar container-->
                    <div id="kt_app_toolbar_container"
                         class="app-container container-xxl d-flex flex-stack flex-row-fluid">
                        <!--begin::Toolbar container-->
                        <div class="d-flex flex-stack flex-row-fluid">
                            <!--begin::Toolbar container-->
                            <div class="d-flex flex-column flex-row-fluid">
                                <!--begin::Toolbar wrapper-->
                                <!--begin::Breadcrumb-->
                                <ul class="breadcrumb breadcrumb-separatorless fw-semibold mb-1 mb-lg-3 me-2 fs-7">
                                    <!--begin::item-->
                                    <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
                                        <a href="{{ user.user_profile.get_absolute_url }}" class="text-white text-hover-primary">
                                            <i class="ki-outline ki-home text-gray-700 fs-6"></i>
                                        </a>
                                    </li>
                                    <!--end::item-->
                                    <!--begin::item-->
                                    <li class="breadcrumb-item">
                                        <i class="ki-outline ki-right fs-7 text-gray-700 mx-n1"></i>
                                    </li>
                                    <!--end::item-->
                                    <!--begin::item-->
                                    <li class="breadcrumb-item text-gray-700 fw-bold lh-1">اکانت</li>
                                    <!--end::item-->
                                    <!--begin::item-->
                                    <li class="breadcrumb-item">
                                        <i class="ki-outline ki-right fs-7 text-gray-700 mx-n1"></i>
                                    </li>
                                    <!--end::item-->
                                    <!--begin::item-->
                                    <li class="breadcrumb-item text-gray-700 fw-bold lh-1">پروفایل</li>
                                    <!--end::item-->
                                </ul>
                                <!--end::Breadcrumb-->
                                <!--begin::Page title-->
                                <div class="page-title d-flex align-items-center me-3">
                                    <!--begin::Title-->
                                    <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">
                                        {{ user.username }}</h1>
                                    <!--end::Title-->
                                </div>
                                <!--end::Page title-->
                            </div>
                            <!--end::Toolbar container-->
                            <!--begin::Actions-->
                            {% include 'cpanel/extra/toolbar-action.html' %}
                            <!--end::Actions-->
                            </div>
                        <!--end::Toolbar container-->
                    </div>
                    <!--end::Toolbar container-->
                </div>
                <!--end::Toolbar-->
                <!--begin::Wrapper container-->
                <div class="app-container container-xxl d-flex">
                    <!--begin::اصلی-->
                    <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                        <!--begin::Content-->
                        <div id="kt_app_content" class="app-content">
                            <!--begin::Navbar-->
                            <div class="card mb-5 mb-xl-10">
                                <div class="card-body pt-9 pb-0">
                                    <!--begin::Details---->
                                    <div class="d-flex flex-wrap flex-sm-nowrap">
                                        <!--begin: Pic-->
                                        <div class="me-7 mb-4">
                                            <div class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative">
                                                {% if user.user_profile.profile_pic %}
                                                <img src="{{ user.user_profile.profile_pic.url }}" alt="image" style="object-fit: cover"/>
                                                {% else %}
                                                <img src="{% static 'assets/media/avatars/blank.png' %}" alt="image"/>
                                                {% endif %}
                                                <div class="position-absolute translate-middle bottom-0 start-100 mb-6 bg-success rounded-circle border border-4 border-body h-20px w-20px"></div>
                                            </div>
                                        </div>
                                        <!--end::Pic-->
                                        <!--begin::Info-->
                                        <div class="flex-grow-1">
                                            <!--begin::Title-->
                                            <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
                                                <!--begin::user-->
                                                <div class="d-flex flex-column">
                                                    <!--begin::نام-->
                                                    <div class="d-flex align-items-center mb-2">
                                                        <a href="#"
                                                           class="text-gray-900 text-hover-primary fs-2 fw-bold me-1">{{ user.username }}</a>
                                                        <a href="#">
                                                            <i class="ki-outline ki-verify fs-1 text-primary"></i>
                                                        </a>
                                                    </div>
                                                    <!--end::نام-->
                                                    <!--begin::Info-->
                                                    <div class="d-flex flex-wrap fw-semibold fs-6 mb-4 pe-2">
                                                        <a href="javascript:void(0)"
                                                           class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2">
                                                            <i class="ki-outline ki-badge-circle fs-4 me-1"></i>{% if user.is_superuser %}مدیر کل{% else %}کاربر عادی{% endif %}</a>
                                                        {% if user.first_name %}
                                                        <a href="javascript:void(0)"
                                                           class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2">
                                                            <i class="ki-outline ki-profile-circle fs-4 me-1"></i>{{ user.first_name }}</a>
                                                        {% endif %}
                                                        {% if user.user_profile.user_telegram_phone_number %}
                                                        <a href="javascript:void(0)"
                                                           class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2">
                                                            <i class="ki-outline ki-phone-circle fs-4 me-1"></i>{{ user.user_profile.user_telegram_phone_number }}</a>
                                                        {% endif %}
                                                    </div>
                                                    <!--end::Info-->
                                                </div>
                                                <!--end::user-->
                                            </div>
                                            <!--end::Title-->
                                            <!--begin::Stats-->
                                            <div class="d-flex flex-wrap flex-stack">
                                                <!--begin::Wrapper-->
                                                <div class="d-flex flex-column flex-grow-1 pe-8">
                                                    <!--begin::Stats-->
                                                    <div class="d-flex flex-wrap">
                                                        <!--begin::Stat-->
                                                        <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                                            <!--begin::شماره کارت-->
                                                            <div class="d-flex align-items-center">
                                                                <i class="ki-outline ki-arrow-up fs-3 text-success me-2"></i>
                                                                <div class="fs-2 fw-bold">{{ user|get_user_all_download_number }}</div>
                                                            </div>
                                                            <!--end::شماره کارت-->
                                                            <!--begin::Tags-->
                                                            <div class="fw-semibold fs-6 text-gray-400">تعداد دانلود</div>
                                                            <!--end::Tags-->
                                                        </div>
                                                        <!--end::Stat-->
                                                    </div>
                                                    <!--end::Stats-->
                                                </div>
                                                <!--end::Wrapper-->
                                            </div>
                                            <!--end::Stats-->
                                        </div>
                                        <!--end::Info-->
                                    </div>
                                    <!--end::Details---->
                                    <!--begin::Navs-->
                                    <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bold">
                                        <!--begin::Nav item-->
                                        <li class="nav-item mt-2">
                                            <a class="nav-link text-active-primary ms-0 me-10 py-5"
                                               href="{% url 'accounts:profile-with-user-id' user_id=user.id %}">اطلاعات</a>
                                        </li>
                                        <!--end::Nav item-->
                                        <!--begin::Nav item-->
                                        <li class="nav-item mt-2">
                                            <a class="nav-link text-active-primary ms-0 me-10 py-5 active"
                                               href="{% url 'accounts:profile-edit-with-user-id' user_id=user.id %}">تنظیمات</a>
                                        </li>
                                        <!--end::Nav item-->
                                        <!--begin::Nav item-->
                                        <li class="nav-item mt-2">
                                            <a class="nav-link text-active-primary ms-0 me-10 py-5"
                                               href="{% url 'accounts:profile-download-history-with-user-id' user_id=user.id %}">سوابق دانلود</a>
                                        </li>
                                        <!--end::Nav item-->
                                        <!--begin::Nav item-->
                                        <li class="nav-item mt-2">
                                            <a class="nav-link text-active-primary ms-0 me-10 py-5"
                                               href="{% url 'accounts:profile-redeem-history-with-user-id' user_id=user.id %}">سوابق خرید</a>
                                        </li>
                                        <!--end::Nav item-->
                                    </ul>
                                    <!--begin::Navs-->
                                </div>
                            </div>
                            <!--end::Navbar-->
                            <!--begin::details نمایش-->
                            <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
                                <!--begin::پایه info-->
                                <div class="card mb-5 mb-xl-10">
                                    <!--begin::کارت header-->
                                    <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
                                        <!--begin::کارت title-->
                                        <div class="card-title m-0">
                                            <h3 class="fw-bold m-0">جزئیات پروفایل</h3>
                                        </div>
                                        <!--end::کارت title-->
                                    </div>
                                    <!--begin::کارت header-->
                                    <!--begin::Content-->
                                    <div id="kt_account_settings_profile_details" class="collapse show">
                                        <!--begin::Form-->
                                        <form id="profile-edit-form" class="form" action="{% url 'accounts:profile-edit-with-user-id' user_id=user.id %}" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <!--begin::کارت body-->
                                            <div class="card-body border-top p-9">
                                                <!--begin::Input group-->
                                                <div class="row mb-6">
                                                    <!--begin::Tags-->
                                                    <label for="full_name" class="col-lg-4 col-form-label required fw-semibold fs-6">نام کامل</label>
                                                    <!--end::Tags-->
                                                    <!--begin::Col-->
                                                    <div class="col-lg-8">
                                                        <!--begin::Row-->
                                                        <div class="row">
                                                            <!--begin::Col-->
                                                            <div class="col-lg-12 fv-row">
                                                                <input type="text" name="full_name" id="full_name" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="نام و نام خانوادگی" value="{% if user.first_name %}{{ user.first_name }}{% endif %}" />
                                                            </div>
                                                            <!--end::Col-->
                                                        </div>
                                                        <!--end::Row-->
                                                    </div>
                                                    <!--end::Col-->
                                                </div>
                                                <div class="row mb-6">
                                                    <!--begin::Tags-->
                                                    <label for="telegram_mobile_phone_number" class="col-lg-4 col-form-label required fw-semibold fs-6">شماره تماس اکانت تلگرام</label>
                                                    <!--end::Tags-->
                                                    <!--begin::Col-->
                                                    <div class="col-lg-8">
                                                        <!--begin::Row-->
                                                        <div class="row">
                                                            <!--begin::Col-->
                                                            <div class="col-lg-12 fv-row">
                                                                <input type="text" name="telegram_mobile_phone_number" id="telegram_mobile_phone_number" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="شماره تماس اکانت تلگرام" value="{% if user.user_profile.user_telegram_phone_number %}{{ user.user_profile.user_telegram_phone_number }}{% endif %}" />
                                                            </div>
                                                            <!--end::Col-->
                                                        </div>
                                                        <!--end::Row-->
                                                    </div>
                                                    <!--end::Col-->
                                                </div>
                                                <!--end::Input group-->
                                                <!--begin::Input group-->
                                                <div class="row mb-6" hidden>
                                                    <!--begin::Col-->
                                                    <div class="col-lg-8 fv-row">
                                                        <span id="profile-detail-edit-alert"></span>
                                                    </div>
                                                    <!--end::Col-->
                                                </div>
                                                <!--end::Input group-->
                                            </div>
                                            <!--end::کارت body-->
                                            <input type="hidden" id="form_name" name="form_name" value="profile_edit_form">
                                            <!--begin::Actions-->
                                            <div class="card-footer d-flex justify-content-end py-6 px-9">
                                                <button type="reset" class="btn btn-light btn-active-light-primary me-2">لغو</button>


                                                <button type="button" class="btn btn-primary me-10" id="profile-detail-edit-submit-button">
                                                    <span class="indicator-label" onclick="save_profile_detail_edit()">
                                                        ذخیره تغییرات
                                                    </span>
                                                    <span class="indicator-progress">
                                                        لطفا صبر نمایید ... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                                    </span>
                                                </button>
                                                <script>
                                                    function save_profile_detail_edit() {
                                                        const formData = new FormData(document.getElementById('profile-edit-form'))
                                                        const profile_detail_edit_alert = document.getElementById('profile-detail-edit-alert')
                                                        const profile_detail_edit_submit_button = document.getElementById('profile-detail-edit-submit-button')
                                                        profile_detail_edit_alert.parentElement.parentElement.hidden=true
                                                        profile_detail_edit_submit_button.setAttribute("data-kt-indicator", "on");
                                                        const url = window.location.protocol + "//" +window.location.host + '/accounts/profile-edit&user-id=' + String('{{ user.id }}') + '/'
                                                        console.log(url)
                                                        fetch(url, {
                                                            method: 'POST',
                                                            body: formData,
                                                            headers: {
                                                                'X-CSRFToken': '{{ csrf_token }}'  // Include the CSRF token in the headers
                                                            },
                                                        })
                                                        .then(response => response.json())
                                                        .then(data => {
                                                            profile_detail_edit_submit_button.removeAttribute("data-kt-indicator")
                                                            if (data['alert']) {
                                                                profile_detail_edit_alert.parentElement.parentElement.hidden=false
                                                                profile_detail_edit_alert.className='form-control form-control-plaintext text-danger'
                                                                profile_detail_edit_alert.innerText=data['alert']
                                                            }
                                                            if (data['message']) {
                                                                profile_detail_edit_alert.parentElement.parentElement.hidden=false
                                                                profile_detail_edit_alert.className='form-control form-control-plaintext text-success'
                                                                profile_detail_edit_alert.innerText=data['message']
                                                            }
                                                        })
                                                        .catch(error => {
                                                            profile_detail_edit_alert.hidden=false
                                                            profile_detail_edit_alert.className='form-control form-control-plaintext text-danger'
                                                            profile_detail_edit_alert.innerText=error
                                                        })
                                                        }
                                                </script>
                                            </div>
                                            <!--end::Actions-->
                                        </form>
                                        <!--end::Form-->
                                    </div>
                                    <!--end::Content-->
                                </div>
                                <!--end::پایه info-->
                                <!--begin::پایه info-->
                                <div class="card mb-5 mb-xl-10">
                                    <!--begin::کارت header-->
                                    <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
                                        <!--begin::کارت title-->
                                        <div class="card-title m-0">
                                            <h3 class="fw-bold m-0">احراز هویت</h3>
                                        </div>
                                        <!--end::کارت title-->
                                    </div>
                                    <!--begin::کارت header-->
                                    <!--begin::Content-->
                                    <div id="kt_account_settings_profile_details" class="collapse show">
                                        <!--begin::Form-->
                                        <form id="user-auth-form" class="form" action="{% url 'accounts:profile-edit-with-user-id' user_id=user.id %}" method="post">
                                            {% csrf_token %}
                                            <!--begin::کارت body-->
                                            <div class="card-body border-top p-9">
                                                <!--begin::Input group-->
                                                <div class="row mb-6">
                                                    <!--begin::Tags-->
                                                    <label for="password" class="col-lg-4 col-form-label required fw-semibold fs-6">رمز ورود</label>
                                                    <!--end::Tags-->
                                                    <!--begin::Col-->
                                                    <div class="col-lg-8">
                                                        <!--begin::Row-->
                                                        <div class="row">
                                                            <!--begin::Col-->
                                                            <div class="col-lg-12 fv-row">
                                                                <input type="text" name="password" id="password" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="رمز ورود جدید" value="" />
                                                            </div>
                                                            <!--end::Col-->
                                                        </div>
                                                        <!--end::Row-->
                                                    </div>
                                                    <!--end::Col-->
                                                </div>
                                                <!--begin::Input group-->
                                                <div class="row mb-6" hidden>
                                                    <!--begin::Col-->
                                                    <div class="col-lg-8 fv-row">
                                                        <span id="user-auth-form-alert"></span>
                                                    </div>
                                                    <!--end::Col-->
                                                </div>
                                                <!--end::Input group-->
                                            </div>
                                            <!--end::کارت body-->
                                            <input type="hidden" id="form_name" name="form_name" value="user_auth_form">
                                            <!--begin::Actions-->
                                            <div class="card-footer d-flex justify-content-end py-6 px-9">
                                                <button type="reset" class="btn btn-light btn-active-light-primary me-2">لغو</button>

                                                <button type="button" class="btn btn-primary me-10" id="user-auth-form-submit-button">
                                                    <span class="indicator-label" onclick="save_user_auth_form()">
                                                        ذخیره تغییرات
                                                    </span>
                                                    <span class="indicator-progress">
                                                        لطفا صبر نمایید ... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                                    </span>
                                                </button>
                                                <script>
                                                    function save_user_auth_form() {
                                                        const formData = new FormData(document.getElementById('user-auth-form'))
                                                        const user_auth_form_alert = document.getElementById('user-auth-form-alert')
                                                        const user_auth_form_submit_button = document.getElementById('user-auth-form-submit-button')
                                                        user_auth_form_alert.parentElement.parentElement.hidden=true
                                                        user_auth_form_submit_button.setAttribute("data-kt-indicator", "on");
                                                        const url = window.location.protocol + "//" +window.location.host + '/accounts/profile-edit&user-id=' + String('{{ user.id }}') + '/'
                                                        fetch(url, {
                                                            method: 'POST',
                                                            body: formData,
                                                            headers: {
                                                                'X-CSRFToken': '{{ csrf_token }}'  // Include the CSRF token in the headers
                                                            },
                                                        })
                                                        .then(response => response.json())
                                                        .then(data => {
                                                            user_auth_form_submit_button.removeAttribute("data-kt-indicator")
                                                            if (data['alert']) {
                                                                user_auth_form_alert.parentElement.parentElement.hidden=false
                                                                user_auth_form_alert.className='form-control form-control-plaintext text-danger'
                                                                user_auth_form_alert.innerText=data['alert']
                                                            }
                                                            if (data['message']) {
                                                                user_auth_form_alert.parentElement.parentElement.hidden=false
                                                                user_auth_form_alert.className='form-control form-control-plaintext text-success'
                                                                user_auth_form_alert.innerText=data['message']
                                                            }
                                                        })
                                                        .catch(error => {
                                                            user_auth_form_alert.hidden=false
                                                            user_auth_form_alert.className='form-control form-control-plaintext text-danger'
                                                            user_auth_form_alert.innerText=error
                                                        })
                                                        }
                                                </script>
                                            </div>
                                            <!--end::Actions-->
                                        </form>
                                        <!--end::Form-->
                                    </div>
                                    <!--end::Content-->
                                </div>
                                <!--end::پایه info-->
                            </div>
                            <!--end::details نمایش-->
                        </div>
                        <!--end::Content-->
                        <!--begin::Footer-->
                        {% include 'cpanel/extra/footer.html' %}
                        <!--end::Footer-->
                    </div>
                    <!--end:::اصلی-->
                </div>
                <!--end::Wrapper container-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
    </div>
{% endblock %}