Django
Pillow
PySocks
Unidecode
amqp
anyio
appdirs
asgiref
asks
async-generator
attrs
beautifulsoup4
billiard
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
django-admin-interface
django-admin-rangefilter
django-colorfield
django-crontab
django-environ
django-jalali
django-jalali-date
exceptiongroup
flower
gevent
greenlet
h11
httpcore
httpx
humanize
idna
jdatetime
kombu
latest-user-agents
lxml
outcome
packaging
pathlib
persiantools
pip
prometheus-client
prompt-toolkit
pycparser
pycryptodome
python-dateutil
python-dotenv
python-slugify
pytz
redis
requests
selenium==4.7.2
setuptools
six
sniffio
sortedcontainers
soupsieve
sqlparse
telebot
tenacity
text-unidecode
tornado
tqdm
trio
trio-websocket
tzdata
urllib3
vine
wcwidth
webdriver-manager
wheel
wsproto
zope.event
zope.interface