{% extends 'cpanel/base.html' %}
{% load static %}

{% block extra_head %}
<!--begin::Vendor Stylesheets(used for this page only)-->
<link href="{% static 'assets/plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/plugins/custom/vis-timeline/vis-timeline.bundle.css' %}" rel="stylesheet" type="text/css"/>
<!--end::Vendor Stylesheets-->
{% endblock %}

{% block content %}
<!--begin::اپلیکیشن-->
<div class="d-flex flex-column flex-root app-root" id="kt_app_root">
    <!--begin::Page-->
    <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
        {% include 'cpanel/extra/header.html' %}
        <!--begin::Wrapper-->
        <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
            <!--begin::Toolbar-->
            <div id="kt_app_toolbar" class="app-toolbar pt-4 pt-lg-7 mb-n2 mb-lg-n3">
                <!--begin::Toolbar container-->
                <div id="kt_app_toolbar_container" class="app-container container-xxl d-flex
                flex-stack flex-row-fluid">
                    <!--begin::Toolbar container-->
                    <div class="d-flex flex-stack flex-row-fluid">
                        <!--begin::Toolbar container-->
                        <div class="d-flex flex-column flex-row-fluid">
                            <!--begin::Toolbar wrapper-->
                            <!--begin::Breadcrumb-->
                            <ul class="breadcrumb breadcrumb-separatorless fw-semibold mb-1 mb-lg-3 me-2 fs-7">
                                <!--begin::item-->
                                <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
                                    <a href="{% url 'cpanel:dashboard' %}" class="text-white text-hover-primary">
                                        <i class="ki-outline ki-home text-gray-700 fs-6"></i>
                                    </a>
                                </li>
                                <!--end::item-->
                                <!--begin::item-->
                                <li class="breadcrumb-item">
                                    <i class="ki-outline ki-right fs-7 text-gray-700 mx-n1"></i>
                                </li>
                                <!--end::item-->
                                <!--begin::item-->
                                <li class="breadcrumb-item text-gray-700 fw-bold lh-1">مالی</li>
                                <!--end::item-->
                            </ul>
                            <!--end::Breadcrumb-->
                            <!--begin::Page title-->
                            <div class="page-title d-flex align-items-center me-3">
                                <!--begin::Title-->
                                <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">
                                    ردیم کد</h1>
                                <!--end::Title-->
                            </div>
                            <!--end::Page title-->
                        </div>
                        <!--end::Toolbar container-->
                        <!--begin::Actions-->
                        {% include 'cpanel/extra/toolbar-action.html' %}
                        <!--end::Actions-->
                    </div>
                    <!--end::Toolbar container-->
                </div>
                <!--end::Toolbar container-->
            </div>
            <!--end::Toolbar-->
            <!--begin::Wrapper container-->
            <div class="app-container container-xxl d-flex">
                <!--begin::اصلی-->
                <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                    <!--begin::Content wrapper-->
                    <div class="d-flex flex-column flex-column-fluid">
                        <!--begin::Content-->
                        <div id="kt_app_content" class="app-content">
                            <!--begin::Row-->
                            <div class="row gy-5 g-xl-10 mb-2">
                                <!--begin::Col-->
                                <div class="col-xl-12">
                                    <!--begin::Table Widget 5-->
                                    <div class="card card-flush h-xl-100">
                                        <!--begin::کارت header-->
                                        <div class="card-header pt-7">
                                            <!--begin::Title-->
                                            <h3 class="card-title align-items-start flex-column">
                                                <span class="card-label fw-bold text-dark">فیلتر کد ها</span>
                                            </h3>
                                        </div>
                                        <!--end::کارت header-->
                                        <!--begin::کارت body-->
                                        <div class="card-body">
                                            <form class="form" action="{% url 'cpanel:redeem-codes' %}" method="get">
                                                <!--begin::Input group-->
                                                <div class="row g-9 mb-8">
                                                    <!--begin::Col-->
                                                    <div class="col-md-3 fv-row">
                                                        <label for="get_token_type" class="fs-6 fw-semibold mb-2">نوع توکن</label>
                                                        <select class="form-select form-select-solid" data-control="select2" data-hide-search="true" data-placeholder="انتخاب نوع" id="get_token_type" name="get_token_type">
                                                            <option {% if not get_token_type %}selected{% endif %} value="all">همه</option>
                                                            <option {% if get_token_type == 'wallet' %}selected{% endif %} value="wallet">اعتباری</option>
                                                            <option {% if get_token_type == 'envato' %}selected{% endif %} value="envato">انواتو</option>
                                                            <option {% if get_token_type == 'motion_array' %}selected{% endif %} value="motion_array">موشن ارای</option>
                                                        </select>
                                                    </div>
                                                    <!--end::Col-->
                                                </div>
                                                <!--end::Input group-->
                            
                                                <!--begin::Input group-->
                                                <div class="row g-9 mb-8">
                                                    <!--begin::Col-->
                                                    <div class="col-md-3 fv-row">
                                                        <label for="get_token_used" class="fs-6 fw-semibold mb-2">وضعیت استفاده</label>
                                                        <select class="form-select form-select-solid" data-control="select2" data-hide-search="true" data-placeholder="انتخاب نوع" id="get_token_used" name="get_token_used">
                                                            <option {% if not get_token_used %}selected{% endif %} value="all">همه</option>
                                                            <option {% if get_token_used == 'not_used' %}selected{% endif %} value="not_used">استفاده نشده</option>
                                                            <option {% if get_token_used == 'used' %}selected{% endif %} value="used">استفاده شده</option>
                                                        </select>
                                                    </div>
                                                    <!--end::Col-->
                                                </div>
                                                <!--end::Input group-->
                                                <!--begin::Actions-->
                                                <button type="submit" class="btn btn-primary">فیلتر</button>
                                                <!--end::Actions-->
                                            </form>
                                        </div>
                                        <!--end::کارت body-->
                                    </div>
                                    <!--end::Table Widget 5-->
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Row-->
                            <!--begin::Row-->
                            <div class="row gy-5 g-xl-10">
                                <!--begin::Col-->
                                <div class="col-xl-12">
                                    <!--begin::Table Widget 5-->
                                    <div class="card card-flush h-xl-100">
                                        <!--begin::کارت header-->
                                        <div class="card-header pt-7">
                                            <!--begin::Title-->
                                            <h3 class="card-title align-items-start flex-column">
                                                <span class="card-label fw-bold text-dark">ردیم کد</span>
                                            </h3>
                                            <!--end::Title-->
                                            <div class="card-toolbar">
                                                <form method="post" action="{% url 'cpanel:export-tokens-to-excel' %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="export_excel_token_type" id="export_excel_token_type" value="{{ get_token_type }}">
                                                    <input type="hidden" name="export_excel_token_used" id="export_excel_token_used" value="{{ get_token_used }}">
                                                    <button type="submit" class="btn btn-sm btn-light-primary me-2"><i class="ki-outline ki-cloud-download fs-2"></i>خروجی اکسل</button>
                                                </form>
												<a href="javascript:void(0)" class="btn btn-sm btn-light-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_new_redeem_code">
												<i class="ki-outline ki-plus fs-2"></i>کد جدید</a>
                                                <!--begin::Modal - هدف جدید-->
                                                <div class="modal fade" id="kt_modal_new_redeem_code" tabindex="-1" aria-hidden="true">
                                                    <!--begin::Modal dialog-->
                                                    <div class="modal-dialog modal-dialog-centered mw-650px">
                                                        <!--begin::Modal content-->
                                                        <div class="modal-content rounded">
                                                            <!--begin::Modal header-->
                                                            <div class="modal-header pb-0 border-0 justify-content-end">
                                                                <!--begin::Close-->
                                                                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                                                                    <i class="ki-outline ki-cross fs-1"></i>
                                                                </div>
                                                                <!--end::Close-->
                                                            </div>
                                                            <!--begin::Modal header-->
                                                            <!--begin::Modal body-->
                                                            <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-15">
                                                                <!--begin:Form-->
                                                                <form id="new_redeem_code_form" class="form" action="{% url 'cpanel:redeem-codes' %}" method="post">
                                                                    {% csrf_token %}
                                                                    <input type="hidden" id="form_type" name="form_type" value="new_redeem_code_form">
                                                                    <!--begin::Heading-->
                                                                    <div class="mb-13 text-center">
                                                                        <!--begin::Title-->
                                                                        <h1 class="mb-3">ساخت ردیم کد جدید</h1>
                                                                        <!--end::Title-->
                                                                    </div>
                                                                    <!--end::Heading-->
                                                                    <!--begin::Input group-->
                                                                    <div class="row g-9 mb-8">
                                                                        <!--begin::Col-->
                                                                        <div class="col-md-12 fv-row">
                                                                            <label for="token_type" class="required fs-6 fw-semibold mb-2">نوع توکن</label>
                                                                            <select onchange="change_function(this.value)" class="form-select form-select-solid" data-control="select2" data-hide-search="true" data-placeholder="انتخاب نوع" name="token_type" id="token_type">
                                                                                <option selected value="wallet">اعتباری</option>
                                                                                <option value="envato">انواتو</option>
                                                                                <option value="motion_array">موشن ارای</option>
                                                                            </select>
                                                                            <script>
                                                                                function change_function(selected_value) {
                                                                                    if (selected_value === 'wallet') {
                                                                                        document.getElementById('form_wallet_type').hidden = false
                                                                                        document.getElementById('form_token_type').hidden = true
                                                                                    } else {
                                                                                        document.getElementById('form_wallet_type').hidden = true
                                                                                        document.getElementById('form_token_type').hidden = false
                                                                                    }
                                                                                }
                                                                                change_function('wallet')
                                                                            </script>
                                                                        </div>
                                                                        <!--end::Col-->
                                                                    </div>
                                                                    <!--end::Input group-->
                                                                    <!--begin::Input group-->
                                                                    <div class="row g-9 mb-8" id="form_wallet_type">
                                                                        <div class="col-md-12 fv-row">
                                                                            <div class="d-flex flex-column mb-8 fv-row">
                                                                                <!--begin::Tags-->
                                                                                <label for="wallet_credit" class="d-flex align-items-center fs-6 fw-semibold mb-2">
                                                                                    <span class="required">میزان اعتبار</span>
                                                                                </label>
                                                                                <!--end::Tags-->
                                                                                <input type="number" class="form-control form-control-solid" placeholder="میزان اعتبار" name="wallet_credit" id="wallet_credit" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--begin::Input group-->
                                                                    <!--begin::Input group-->
                                                                    <div class="row g-9 mb-8" id="form_token_type" hidden>
                                                                        <div class="col-md-4 fv-row">
                                                                            <div class="d-flex flex-column mb-8 fv-row">
                                                                                <!--begin::Tags-->
                                                                                <label for="tokens_total_limit" class="d-flex align-items-center fs-6 fw-semibold mb-2">
                                                                                    <span class="required">تعداد کل</span>
                                                                                </label>
                                                                                <!--end::Tags-->
                                                                                <input type="number" class="form-control form-control-solid" placeholder="تعداد کل" name="tokens_total_limit" id="tokens_total_limit" />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4 fv-row">
                                                                            <div class="d-flex flex-column mb-8 fv-row">
                                                                                <!--begin::Tags-->
                                                                                <label for="tokens_daily_limit" class="d-flex align-items-center fs-6 fw-semibold mb-2">
                                                                                    <span class="required">محدودیت روزانه</span>
                                                                                </label>
                                                                                <!--end::Tags-->
                                                                                <input type="number" class="form-control form-control-solid" placeholder="محدودیت روزانه" name="tokens_daily_limit" id="tokens_daily_limit" />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4 fv-row">
                                                                            <div class="d-flex flex-column mb-8 fv-row">
                                                                                <!--begin::Tags-->
                                                                                <label for="expiry_days" class="d-flex align-items-center fs-6 fw-semibold mb-2">
                                                                                    <span class="required">انقضا</span>
                                                                                </label>
                                                                                <!--end::Tags-->
                                                                                <input type="number" class="form-control form-control-solid" placeholder="انقضا بر اساس روز" name="expiry_days" id="expiry_days" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--begin::Input group-->
                                                                    <div class="row g-9 mb-8" id="bulk_creation_number_section">
                                                                        <div class="col-md-12 fv-row">
                                                                            <div class="d-flex flex-column mb-8 fv-row">
                                                                                <!--begin::Tags-->
                                                                                <label for="bulk_creation_number" class="d-flex align-items-center fs-6 fw-semibold mb-2">
                                                                                    <span class="required">ساخت به تعداد</span>
                                                                                </label>
                                                                                <!--end::Tags-->
                                                                                <input type="number" class="form-control form-control-solid" value="1" placeholder="1" name="bulk_creation_number" id="bulk_creation_number" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--end::Input group-->
                                                                    <!--begin::Input group-->
                                                                    <div class="row mb-6" {% if not alert and not message %}hidden{% endif %}>
                                                                        <!--begin::Col-->
                                                                        <div class="col-lg-8 fv-row">
                                                                            <span class="{% if alert %}text-danger{% endif %} {% if message %}text-success{% endif %}">{% if alert %}{{ alert }}{% endif %} {% if message %}{{ message }}{% endif %}</span>
                                                                        </div>
                                                                        <!--end::Col-->
                                                                    </div>
                                                                    <!--end::Input group-->
                                                                    <!--end::Input group-->
                                                                    <!--begin::Actions-->
                                                                    <div class="text-center">
                                                                        <button type="button"  data-bs-dismiss="modal" class="btn btn-light me-3">انصراف</button>
                                                                        <button type="submit" class="btn btn-primary">ثبت</button>
                                                                    </div>
                                                                    <!--end::Actions-->
                                                                </form>
                                                                <!--end:Form-->
                                                            </div>
                                                            <!--end::Modal body-->
                                                        </div>
                                                        <!--end::Modal content-->
                                                    </div>
                                                    <!--end::Modal dialog-->
                                                </div>
                                                <!--end::Modal - هدف جدید-->
											</div>
                                        </div>
                                        <!--end::کارت header-->
                                        <!--begin::کارت body-->
                                        <div class="card-body">
                                            <!--begin::Table container-->
                                            <div class="table-responsive">
                                                <!--begin::Table-->
                                                <table class="table align-middle table-row-dashed fs-6 gy-3 mb-10">
                                                    <!--begin::Table head-->
                                                    <thead>
                                                    <!--begin::Table row-->
                                                    <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                                                        <th class="min-w-150px text-start">شناسه</th>
                                                        <th class="pe-3 min-w-100px text-start">نوع</th>
                                                        <th class="pe-3 min-w-100px text-start">ارزش</th>
                                                        <th class="pe-3 min-w-100px text-start">استفاده شده</th>
                                                        <th class="pe-3 min-w-100px text-start">بازه ی انقضا</th>
                                                        <th class="p-0 min-w-100px text-end">عملیات</th>
                                                    </tr>
                                                    <!--end::Table row-->
                                                    </thead>
                                                    <!--end::Table head-->
                                                    <!--begin::Table body-->
                                                    <tbody class="fw-bold text-gray-600">
                                                    {% for redeem_code in page_obj.object_list %}
                                                    <tr>
                                                        <!--begin::item-->
                                                        <td>{{ redeem_code.token_unique_code }}</td>
                                                        <!--end::item-->
                                                        {% if redeem_code.token_type == 'envato' %}
                                                            <td>
                                                                <span class="badge badge-light-info">انواتو</span>
                                                            </td>
                                                        {% elif redeem_code.token_type == 'motion_array' %}
                                                            <td>
                                                                <span class="badge badge-light-info">موشن ارای</span>
                                                            </td>    
                                                        {% else %}
                                                            <td>
                                                                <span class="badge badge-light-warning">اعتباری</span>
                                                            </td>
                                                        {% endif %}

                                                        {% if redeem_code.token_type == 'envato' %}
                                                            <td>
                                                                <span class="badge badge-light-info">{{ redeem_code.total_tokens }}</span>
                                                            </td>
                                                        {% elif redeem_code.token_type == 'motion_array' %}
                                                            <td>
                                                                <span class="badge badge-light-info">{{ redeem_code.total_tokens }}</span>
                                                            </td>    
                                                        {% else %}
                                                            <td>
                                                                <span class="badge badge-light-warning">{{ redeem_code.charge_amount }}</span>
                                                            </td>
                                                        {% endif %}
                                                        {% if redeem_code.is_used %}
                                                            <td>
                                                                <span class="badge badge-light-dark">بله</span>
                                                            </td>
                                                        {% else %}
                                                            <td>
                                                                <span class="badge badge-light-primary">خیر</span>
                                                            </td>
                                                        {% endif %}
                                                        {% if redeem_code.token_type == 'envato' %}
                                                            <td>
                                                                <span class="badge badge-light-info">{{ redeem_code.expiry_days }} روز</span>
                                                            </td>
                                                        {% elif redeem_code.token_type == 'motion_array' %}
                                                            <td>
                                                                <span class="badge badge-light-info">{{ redeem_code.expiry_days }} روز</span>
                                                            </td>    
                                                        {% else %}
                                                            <td>
                                                                <span class="badge badge-light-warning">ندارد</span>
                                                            </td>
                                                        {% endif %}
                                                        <td class="text-end">
                                                            {% if not redeem_code.is_used %}
                                                            <a href="#" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1" data-bs-toggle="modal" data-bs-target="#edit_redeem_code_{{ redeem_code.id }}_modal">
                                                                <i class="ki-outline ki-pencil fs-2"></i>
                                                            </a>
                                                            <!--begin::Modal - هدف جدید-->
                                                            <div class="modal fade" id="edit_redeem_code_{{ redeem_code.id }}_modal" tabindex="-1" aria-hidden="true">
                                                                <!--begin::Modal dialog-->
                                                                <div class="modal-dialog modal-dialog-centered mw-650px">
                                                                    <!--begin::Modal content-->
                                                                    <div class="modal-content rounded">
                                                                        <!--begin::Modal header-->
                                                                        <div class="modal-header pb-0 border-0 justify-content-end">
                                                                            <!--begin::Close-->
                                                                            <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                                                                                <i class="ki-outline ki-cross fs-1"></i>
                                                                            </div>
                                                                            <!--end::Close-->
                                                                        </div>
                                                                        <!--begin::Modal header-->
                                                                        <!--begin::Modal body-->
                                                                        <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-15">
                                                                            <!--begin:Form-->
                                                                            <form class="form" action="{% url 'cpanel:apply-redeem-code-on-user' %}" method="post">
                                                                                {% csrf_token %}
                                                                                <input type="hidden" id="apply_redeem_code_type" name="apply_redeem_code_type" {% if redeem_code.token_type == 'envato' %} value="envato" {% elif redeem_code.token_type == 'motion_array' %} value="motion_array" {% else %} value="wallet" {% endif %}>
                                                                                <input type="hidden" id="apply_redeem_code_unique_code" name="apply_redeem_code_unique_code" value="{{ redeem_code.token_unique_code }}">
                                                                                <input type="hidden" id="page_filter_token_type" name="page_filter_token_type" value="{{ get_token_type }}">
                                                                                <input type="hidden" id="page_filter_token_used" name="page_filter_token_used" value="{{ get_token_used }}">

                                                                                <!--begin::Heading-->
                                                                                <div class="mb-13 text-center">
                                                                                    <!--begin::Title-->
                                                                                    <h1 class="mb-3">اختصاص ردیم کد به کاربر</h1>
                                                                                    <!--end::Title-->
                                                                                </div>
                                                                                <!--end::Heading-->
                                                                                <!--begin::Input group-->
                                                                                <div class="d-flex flex-column mb-8 fv-row">
                                                                                    <!--begin::Tags-->
                                                                                    <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                                                                                        <span>شناسه</span>
                                                                                    </label>
                                                                                    <!--end::Tags-->
                                                                                    <input type="text" class="form-control form-control-solid" placeholder="عنوان" value="{{ redeem_code.token_unique_code }}" readonly />
                                                                                </div>
                                                                                <div class="row g-9 mb-8 text-start">
                                                                                    <!--begin::Col-->
                                                                                    <div class="col-md-12 fv-row">
                                                                                        <label for="{{ redeem_code.id }}_belong_to_user" class="fs-6 fw-semibold mb-2">اختصاص یابد به کاربر</label>
                                                                                        <select class="form-select form-select-solid" data-control="select2" data-hide-search="false" data-dropdown-parent="#edit_redeem_code_{{ redeem_code.id }}_modal"
                                                                                            data-placeholder="اختصاص یابد به کاربر"
                                                                                                name="belong_to_user" id="{{ redeem_code.id }}_belong_to_user">
                                                                                            <option selected value="">انتخاب</option>
                                                                                            {% for user in users %}
                                                                                            <option value="{{ user.id }}">{{ user.username }}</option>
                                                                                            {% endfor %}
                                                                                        </select>
                                                                                    </div>
                                                                                    <!--end::Col-->
                                                                                </div>
                                                                                <!--end::Input group-->
                                                                                <!--begin::Input group-->
                                                                                <div class="row mb-6" {% if not alert and not message %}hidden{% endif %}>
                                                                                    <!--begin::Col-->
                                                                                    <div class="col-lg-8 fv-row">
                                                                                        <span class="{% if alert %}text-danger{% endif %} {% if message %}text-success{% endif %}">{% if alert %}{{ alert }}{% endif %} {% if message %}{{ message }}{% endif %}</span>
                                                                                    </div>
                                                                                    <!--end::Col-->
                                                                                </div>
                                                                                <!--end::Input group-->
                                                                                <!--end::Input group-->
                                                                                <!--begin::Actions-->
                                                                                <div class="text-center">
                                                                                    <button type="button" data-bs-dismiss="modal" class="btn btn-light me-3">انصراف</button>
                                                                                    <button type="submit" class="btn btn-primary">ثبت</button>
                                                                                </div>
                                                                                <!--end::Actions-->
                                                                            </form>
                                                                            <!--end:Form-->
                                                                        </div>
                                                                        <!--end::Modal body-->
                                                                    </div>
                                                                    <!--end::Modal content-->
                                                                </div>
                                                                <!--end::Modal dialog-->
                                                            </div>
                                                            <!--end::Modal - هدف جدید-->
                                                            {% else %}
                                                            <a href="javascript:void(0)" class="btn btn-icon btn-bg-success btn-sm me-1">
                                                                <i class="ki-outline ki-double-check fs-2"></i>
                                                            </a>
                                                            {% endif %}
                                                            <a href="{% url 'cpanel:redeem-code-remove-with-id' redeem_code_id=redeem_code.id %}?{% if get_token_type %}get_token_type={{ get_token_type }}{% endif %}{% if get_token_used %}&get_token_used={{ get_token_used }}{% endif %}&redeem_code_type={% if redeem_code.token_type == 'envato' or redeem_code.token_type == 'motion_array' %}o{% else %}wallet{% endif %}" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
                                                                <i class="ki-outline ki-trash fs-2"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    {% empty %}
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                    <!--end::Table body-->
                                                </table>
                                                <!--end::Table-->
                                            </div>
                                            <ul class="pagination">
                                                <li class="page-item previous {% if page_obj.number == 1 %}disabled{% endif %}"><a href="{{ request.path }}?page=1" class="page-link"><i class="previous"></i></a></li>


                                                {% if page_obj.has_previous %}
                                                <li class="page-item "><a href="{{ request.path }}?page={{ page_obj.previous_page_number }}" class="page-link">{{ page_obj.previous_page_number }}</a></li>
                                                {% endif %}

                                                <li class="page-item active"><a href="javascript:void(0)" class="page-link">{{ page_obj.number }}</a></li>

                                                {% if page_obj.has_next %}
                                                <li class="page-item "><a href="{{ request.path }}?page={{ page_obj.next_page_number }}" class="page-link">{{ page_obj.next_page_number }}</a></li>
                                                {% endif %}

                                                <li class="page-item next {% if page_obj.paginator.num_pages == page_obj.number %}disabled{% endif %}"><a href="{{ request.path }}?page={{ page_obj.paginator.num_pages }}"  class="page-link"><i class="next"></i></a></li>
                                            </ul>
                                        </div>
                                        <!--end::کارت body-->
                                    </div>
                                    <!--end::Table Widget 5-->
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Row-->
                        </div>
                        <!--end::Content-->
                    </div>
                    <!--end::Content wrapper-->
                    {% include 'cpanel/extra/footer.html' %}
                </div>
                <!--end:::اصلی-->
            </div>
            <!--end::Wrapper container-->
        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Page-->
</div>
<!--end::اپلیکیشن-->
{% endblock %}

{% block extra_body %}
    <script>
    function hide_modal() {
        modalEl = document.querySelector('#kt_modal_new_redeem_code');
        if (!modalEl) {
            return;
        }

        modal = new bootstrap.Modal(modalEl);
        modal.modal('hide');
    }
    </script>
{% endblock %}